<div th:fragment="form(bookCreateForm, num)"
     class="hero mt-5 mb-12">
    <div class="hero-content flex-col lg:flex-row-reverse mb-12">
        <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
            <div class="card-body">

                <form th:action method="post"
                      th:object="${bookCreateForm}"
                      enctype="multipart/form-data"
                      onsubmit="JoinForm__submit(this); return false;">

                    <label class="label">
                        <span class="label-text">문제집 커버</span>
                    </label>

                    <div class="flex flex-col items-center mb-5">
                        <div>

                            <img id="cover" class="h-48 mb-2"
                                 th:src="@{/images/book/__${num}__.png}">
                        </div>

                        <a th:href="@{/book/create}">
                            <span>북커버 새로고침</span>
                            <span><i class="fa-sharp fa-solid fa-rotate-right"></i></span>
                        </a>

                    </div>

                    <div class="flex flex-col mb-5">
                        <input type="file" id="profileImg" name="img"
                               class="file-input file-input-bordered w-full file-input-xs max-w-xs"/>
                        <div class="text-xs mt-2">선택하지 않을경우 기본 북커버로 저장됩니다.</div>

                        <input type="text" class="!hidden" th:field="*{staticImg}">
                    </div>


                    <div class="form-control">
                        <label class="label">
                            <span class="label-text">문제집 이름</span>
                        </label>
                        <input type="text" th:field="*{name}" placeholder="이름" class="input input-bordered"/>
                    </div>

                    <div class="form-control">
                        <label class="label">
                            <span class="label-text">문제집 소개</span>
                        </label>
                        <input type="text" th:field="*{about}" placeholder="소개" class="input input-bordered"/>
                    </div>

                    <label class="label mt-5">
                        <span class="label-text">태그</span>
                    </label>
                    <textarea class="textarea textarea-bordered w-full"
                              th:field="*{tags}"
                              placeholder=", 로 구분"></textarea>

                    <div class="form-control mt-6">
                        <button class="btn btn-primary">만들기</button>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>