<html layout:decorate="~{layout/layout}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head><title>나의 문제집 목록</title></head>

<div layout:fragment="content" class="min-h-screen flex flex-col items-center">

    <a href="/book/create"
       class="btn btn-outline btn-sm w-80 mt-8 mb-3">문제집 만들기</a>

    <table th:replace="~{usr/book/fragment/list/content :: content(${books})}"></table>

    <div th:if="${books.size eq 0}" class="flex justify-center">
        <div>아직 문제집이 없습니다.</div>
    </div>

    <div class="mb-12"></div>

</div>
</html>