<html layout:decorate="~{layout/layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<div layout:fragment="content">

    <div class="navbar bg-base-100">
        <div class="flex-1">
            <a class="btn btn-ghost normal-case text-xl">로그인</a>
        </div>
        <div class="flex-none">
            <div class="dropdown dropdown-end">

                <label tabindex="0" class="btn btn-ghost btn-circle avatar">
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                </label>

                <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
                    <li><a href="#">인허브란?</a></li>
                    <li><a href="/member/login">로그인</a></li>
                </ul>

            </div>
        </div>
    </div>

    <main layout:fragment="member"></main>

</div>
</html>