<div th:fragment="navbarFragment"
     class="navbar bg-base-100">
    <div class="flex-1">
        <a class="btn btn-ghost normal-case text-xl" id="page-title" href="#"></a>
        <div class="ml-auto">
            <a th:if="${@rq.themeByCookie == 'light'}" class="btn btn-ghost" href="/changeDark">
                <i class="fa-regular fa-moon fa-xl mr-1"></i>
                DARK
            </a>
            <a th:if="${@rq.themeByCookie == 'dark'}" class="btn btn-ghost" href="/changeLight">
                <i class="fa-regular fa-sun fa-xl mr-1"></i>
                LIGHT
            </a>
        </div>
    </div>
    <div class="flex-none">
        <div class="dropdown dropdown-end">

            <label tabindex="0" class="btn btn-ghost btn-circle avatar">
                <i class="fa-solid fa-ellipsis-vertical"></i>
            </label>

            <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
                <li th:if="${@rq.logout}">
                    <a href="/member/login">로그인</a>
                </li>
                <li th:if="${@rq.login}">
                    <a href="/member/mypage">마이페이지</a>
                </li>
                <li th:if="${@rq.login}">
                    <a href="javascript:" onclick="$(this).next().submit();">로그아웃</a>
                    <form class="!hidden" hidden th:action="|/member/logout|" method="POST"></form>
                </li>
                <li th:if="${@rq.login && @rq.member.role.toString() == 'ADMIN'}">
                    <a href="/member/members">전체회원관리</a>
                </li>

                <li>
                    <a href="/member/login">문제 만들기</a>
                </li>

                <li th:if="${@rq.member.role.toString() eq 'ADMIN'}">
                    <a href="/member/login">카테고리 만들기</a>
                </li>
            </ul>

        </div>
    </div>
</div>