<table th:fragment="table(answerDtos)" class="mt-5 table w-125">

    <thead>
    <tr class="hover flex justify-between">
        <th class="grow">문제 번호</th>
        <th class="w-25">문제명</th>
        <th class="w-25">카테고리</th>
        <th class="w-25">정답유무</th>
        <th class="w-25">문제유형</th>
    </tr>
    </thead>


    <tbody>
    <tr class="hover flex justify-between"
        th:each="answerDto, loop : ${answerDtos}"
        th:object="${answerDto}">

        <td class="grow">
            <a th:text="${loop.count}"
               th:href="@{/answer/result/{id}(id=${loop.count})}">
            </a>
        </td>

        <td class="w-25">
            <a th:href="@{/answer/result/{id}(id=${loop.count})}">
                <div th:replace="~{usr/answer/fragment/result/quetie :: quetie(${answerDto})}"></div>
            </a>
        </td>

        <td class="w-25">
            <a
                    th:href="@{/answer/result/{id}(id=${loop.count})}">
                <div th:replace="~{usr/answer/fragment/result/quecate :: quecate(${answerDto})}"></div>
            </a>
        </td>

        <td class="w-25">
            <a th:href="@{/answer/result/{id}(id=${loop.count})}">
                <div class="flex items-center">
                    <span th:if="${answerDto.result == '정답'}">
                        <i class="fa-solid fa-check fa-xl " style="color: #00ff33;"></i>
                    </span>
                    <span th:if="${answerDto.result != '정답'}">
                        <i class="fa-solid fa-xmark fa-xl " style="color: #ff0000;"></i>
                    </span>
                </div>
            </a>
        </td>

        <td class="w-25">
            <a
                    th:href="@{/answer/result/{id}(id=${loop.count})}">
                <div th:replace="~{usr/answer/fragment/result/quetype :: quetype(${answerDto})}"></div>
            </a>
        </td>
    </tr>

    </tbody>

</table>