<table th:fragment="table(underlines, mcq)"
       th:if="${underlines.size > 0}"
       class="mt-5 table w-full drop-shadow-lg">

    <thead>
    <tr>
        <td class="flex justify-between">
            <div>문제 목록</div>
            <div th:text="|총 ${underlines.size} 문제|"></div>
        </td>
    </tr>
    </thead>

    <tbody>
    <tr class="hover flex"
        th:each="underline, loop : ${underlines}"
        th:object="${underline.question}">

        <td class="truncate-text">
            <a th:text="${underline.question.category.name}" class="text-[4px]"
               th:href="@{/underline/detail/{id}(id=${underline.id})}"></a>
        </td>

        <td class="flex-grow">
            <div class="truncate-text">
                <a th:text="*{name}" class="text-[4px]"
                   th:href="@{/underline/detail/{id}(id=${underline.id})}"></a>
            </div>
        </td>

        <td>
            <a th:href="@{/underline/detail/{id}(id=${underline.id})}"
               th:text="|Lv.${underline.question.difficulty}|"
               class="text-[4px]">
            </a>
        </td>

        <td>
            <a th:text="(*{type} == ${mcq})? '객관식':'주관식'" class="text-[4px]"
               th:href="@{/underline/detail/{id}(id=${underline.id})}"></a>
        </td>
    </tr>
    </tbody>

</table>