<div th:fragment="books(books)"
     th:if="${@rq.login}"
     class="flex mt-5 gap-4 h-40">

    <div class="carousel w-80 min-h-24">

        <a th:if="${books.size > 0}"
           th:each="book : ${books}"
           th:href="@{/underline/book/{id}(id=${book.id})}"
           class="carousel-item w-64 flex justify-center mr-10">

            <div class="stats shadow w-64">
                <div class="stat place-items-center">
                    <div class="stat-title" th:text="${book.name}"></div>
                    <div class="text-xs" th:text="${book.about}"></div>
                    <div class="flex justify-between w-full">

                        <div class="flex gap-1">
                            <div class="text-sm"><i class="fa-regular fa-user"></i></div>
                            <div class="stat-desc" th:text="${book.playCount}"></div>
                        </div>

                        <div class="stat-desc" th:text="|총 ${book.underlines.size} 문제|"></div>

                        <div class="flex gap-1">
                            <div><i class="fa-regular fa-heart"></i></div>
                            <div class="stat-desc" th:text="${book.recommend}"></div>
                        </div>
                    </div>
                </div>

            </div>
        </a>

        <a th:if="${books.size > 0}"
           href="/book/list"
           class="carousel-item w-64 flex justify-center">

            <div class="stats shadow w-64 flex">
                <div class="stat place-items-center">
                    <div class="stat-title">더보기</div>
                    <div class="text-xs">모든 문제집 확인하기</div>
                    <div class="stat-desc" th:text="|총 ${@rq.member.books.size()} 권의 문제집|"></div>
                </div>
            </div>
        </a>

        <a th:if="${books.size eq 0}"
           href="#"
           class="carousel-item w-80 flex justify-center">

            <div class="stats shadow w-80 flex">
                <div class="stat place-items-center">
                    <div class="stat-title">문제집 만들기</div>
                    <div class="text-xs">밑줄 문제 묶음을 만들어 보세요!</div>
                    <div class="stat-desc"></div>
                </div>
            </div>
        </a>

    </div>
</div>