<div th:fragment="books(books)"
     class="flex mt-3 gap-4 h-40">

    <div class="carousel w-80 min-h-24">

        <a th:each="book, loop : ${books}"
           th:if="${books.size > 0 and loop.index <= 2}"
           th:href="@{/underline/book/{id}(id=${book.id})}"
           class="carousel-item w-64 flex justify-center mr-10">

            <div class="stats shadow w-64">

                <div class="stat place-items-center flex-row">

                    <div class="flex gap-5">

                        <figure class="h-32 drop-shadow-lg">
                            <img th:if="${book.img eq null}"
                                 class="h-full" src="/images/note/0004.jpg"/>

                            <img th:if="${book.img ne null}"
                                 class="h-full" th:src="@{${book.img}}"/>
                        </figure>

                        <div class="flex flex-col justify-between">

                            <div class="stat-title" th:text="${book.name}"></div>

                            <div class="flex gap-3 mt-3">
                                <div class="text-sm"><i class="fa-regular fa-pen-to-square"></i></div>
                                <div class="text-[4px]" th:text="${book.member.nickname}"></div>
                            </div>

                            <div class="flex gap-3">
                                <div class="text-sm"><i class="fa-regular fa-user"></i></div>
                                <div class="text-[4px]" th:text="|총 ${book.challenger}번 도전|"></div>
                            </div>

                            <div class="flex gap-3">
                                <div class="text-sm"><i class="fa-solid fa-check"></i></div>
                                <div class="text-[4px]" th:utext="|정답률 ${book.accuracy}%|"></div>
                            </div>

                            <div class="flex gap-3">
                                <div class="text-sm"><i class="fa-regular fa-heart"></i></div>
                                <div class="text-[4px]" th:text="|${book.recommend}명의 좋아요|"></div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </a>

        <a th:if="${books.size > 0}"
           href="/book/list"
           class="carousel-item w-40 flex justify-center">

            <div class="stats shadow w-40 flex">
                <div class="stat place-items-center">
                    <div class="stat-title">더보기</div>
                    <div class="text-xs">모든 문제집 확인하기</div>
                    <div class="stat-desc" th:text="|총 ${@rq.member.books.size()} 권의 문제집|"></div>
                </div>
            </div>
        </a>

        <a th:if="${books.size eq 0}"
           href="/book/create"
           class="carousel-item w-80 flex justify-center">

            <div class="stats shadow w-80 flex">
                <div class="stat place-items-center">
                    <div class="stat-title">나만의 문제집 만들기</div>
                    <div class="text-xs">밑줄 문제 묶음을 만들어 보세요!</div>
                    <div></div>
                </div>
            </div>
        </a>

    </div>
</div>