<div th:fragment="note" class="flex flex-col gap-7 mb-12">


    <div class="card w-80 bg-base-100 shadow-xl">
        <a th:href="@{/post/view/7}"  id="link1" class="">
        <figure>
            <img src="/images/note/001.png"/>
        </figure>

        <div class="card-body">

            <h2 class="card-title">
                오늘의 취업 뉴스
                <div class="badge badge-secondary">NEW</div>
            </h2>


            <p>오늘 업데이트된 취업 소식을 확인 해보세요?</p>
            <div class="card-actions justify-end">
            </div>
        </div>
        </a>
    </div>

   <div class="card w-80 bg-base-100 shadow-xl">
    <a href="/question/function"
        class="card w-80 mb-12 bg-base-100 shadow-xl">
        <figure>
            <img src="/images/note/003.png"/>
        </figure>

        <div class="card-body">

            <h2 class="card-title">
                이것도 풀어볼래?!
                <div class="badge badge-secondary">NEW</div>
            </h2>


            <p>랜덤 문제 풀어보기</p>
            <div class="card-actions justify-end">
                <div class="badge badge-outline">카테고리 선택</div>
                <div class="badge badge-outline">레벨 선택</div>
            </div>
        </div>
    </a>
</div>