<div th:fragment="play"
     th:if="${@rq.login}"
     class="carousel w-80 min-h-24">

    <a href="/underline/function"
       id="item1" class="carousel-item w-64 mr-10 flex justify-center">

        <div class="stats shadow w-64">
            <div class="stat place-items-center">
                <div class="stat-title" th:text="|밑줄 문제 풀기|"></div>
                <div class="text-xs">밑줄친 문제 다시 풀고 복습하기</div>
                <div class="stat-desc" th:text="|총 ${@rq.member.underlines.size()} 문제|"></div>
            </div>

        </div>

    </a>
    <a href="/question/function"
       id="item2" class="carousel-item w-64 mr-10 flex justify-center">

        <div class="stats shadow w-64">
            <div class="stat place-items-center">
                <div class="stat-title">랜덤 문제 풀기</div>
                <div class="text-xs">랜덤 문제 풀고 랭킹 올리기</div>
                <div class="stat-desc" th:text="|내 점수는 ${@rq.member.point} 점|"></div>
            </div>

        </div>
    </a>

    <a href="/member/myQuestionList"
       id="item3" class="carousel-item w-64 mr-10 flex justify-center">

        <div class="stats shadow w-64">
            <div class="stat place-items-center">
                <div class="stat-title">내가 만든 문제</div>
                <div class="text-xs">내가 만든 문제 목록 확인하기</div>
                <div class="stat-desc" th:text="|총 ${@rq.member.questions.size()} 문제 출제|"></div>
            </div>

        </div>
    </a>
</div>