<div th:fragment="popular(books)"
     class="flex flex-col gap-4">

    <div>추천 문제집</div>
    <div class="carousel carousel-center w-80">

        <a th:each="book, loop : ${books}"
           th:href="@{/underline/book/{id}(id=${book.id})}"
           class="carousel-item w-24 flex flex-col justify-center mr-7">

            <figure class="h-32">
                <img th:if="${book.img eq null}"
                     class="h-full" src="/images/note/0004.jpg"/>

                <img th:if="${book.img ne null}"
                     class="h-full" th:src="@{${book.img}}"/>
            </figure>

            <div class="text-xs" th:text="${book.name}"></div>
            <div class="flex justify-between">
                <div class="text-[6px]" th:text="|${book.author} |"></div>
                <div class="flex gap-1">
                    <div class="text-xs"><i class="fa-regular fa-user"></i></div>
                    <div class="stat-desc" th:text="${book.challenger}"></div>
                    <div class="text-xs"><i class="fa-regular fa-heart"></i></div>
                    <div class="stat-desc" th:text="${book.recommend}"></div>
                </div>
            </div>
        </a>

        <a th:if="${books.size > 0}"
           href="/search/main"
           class="carousel-item w-32 flex justify-center">

            <div class="stats shadow w-40 flex">
                <div class="stat place-items-center">
                    <div class="stat-title">더보기</div>
                    <div class="text-xs">더 많은 문제집 확인하기</div>
                </div>
            </div>
        </a>

    </div>
</div>