<div th:fragment="count(createFunctionForm)"
     th:object="${createFunctionForm}"
     class="form-control mt-5">

  <label class="label">
    <span class="label-text">문제 수</span>
    <span th:text="*{count}"></span>
  </label>
  <input type="range" min="3" max="20" class="range range-xs" step="1"
         autofocus onchange="$(this).keyup();"
         onkeyup="$(this).prev().children(':last-child').text(this.value.trim());"
         onpaste="setTimeoutZero(() => $(this).keyup());"
         th:field="*{count}"/>

  <div class="w-full flex justify-between text-xs px-2 mt-3">
    <span>3</span><span></span>
    <span>5</span><span></span><span></span><span></span><span></span>
    <span>10</span><span></span><span></span><span></span><span></span>
    <span>15</span><span></span><span></span><span></span><span></span>
    <span>20</span>
  </div>

</div>