<div th:fragment="type(createFunctionForm, types, mcq)"
     th:object="${createFunctionForm}"
     class="mt-5">

    문제 유형 선택

    <div class="flex">
        <div class="form-control grow mt-3"
             th:each="type : ${types}">

            <label class="label cursor-pointer flex justify-center">
                <input type="checkbox" checked="checked" class="checkbox peer hidden"
                       th:field="*{type}"
                       th:value="${type}"/>
                <span class="label-text w-full btn btn-ghost peer-checked:bg-violet-700 peer-checked:text-white"
                      th:text="(${type} == ${mcq})? '객관식':'주관식'"></span>
            </label>
        </div>
    </div>

</div>