<table th:fragment="table(underlines, mcq, bookUpdateForm, books)"
       th:if="${underlines.size > 0}"
       class="mt-5 table w-80 drop-shadow-lg">

    <thead>
    <tr>
        <td class="flex justify-between">
            <div>문제 목록</div>


            <select th:field="${bookUpdateForm.term}"
                    class="select select-bordered select-xs w-fit max-w-xs">

                <option value="0">선택 삭제</option>
                <option th:each="book : ${books}"
                        th:text="|${book.name} 에 복사|"
                        th:value="${book.id}"></option>
            </select>
        </td>
    </tr>
    </thead>

    <tbody>
    <tr class="hover flex w-80"
        th:each="underline, loop : ${underlines}"
        th:object="${underline.question}">


        <td th:text="*{category.name}" class="text-[4px]"></td>

        <td th:text="*{name}" class="text-[4px] grow"></td>

        <td th:text="|Lv.${underline.question.difficulty}|" class="text-[4px]"></td>

        <td th:text="(*{type} == ${mcq})? '객관식':'주관식'" class="text-[4px]"></td>

        <td>
            <input type="checkbox" th:field="${bookUpdateForm.underlines}" th:value="${underline.id}"
                   class="checkbox checkbox-primary checkbox-sm"/>
        </td>

    </tr>
    </tbody>

</table>