<div th:fragment="answer(question, mcq, check)"
     class="card w-80 bg-base-100 shadow-xl mt-5">

    <div class="card-body">
        <span th:if="${question.type eq mcq}">선택지</span>

        <div th:if="${question.type eq mcq}"
             th:each="choice, roop : ${question.choiceList}"
             class="form-control">
            <label class="label cursor-pointer">
                <span class="label-text" th:text="|${roop.count}.  ${choice.choice}|"></span>
                <input type="radio" name="radio-10" class="radio checked:bg-red-500"
                       th:checked="${choice.number eq check.MCQContent}" disabled/>
            </label>
        </div>

        <span th:if="${question.type ne mcq}">키워드</span>

        <div th:if="${question.type ne mcq}"
             class="form-control">

            <span class="label-text" th:text="${check.word1}"></span>
            <span class="label-text" th:text="${check.word2}"></span>
            <span class="label-text" th:text="${check.word3}"></span>
        </div>
    </div>

</div>