<html layout:decorate="~{layout/layout}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <title>실시간 문의 채팅방</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js" integrity="sha512-1QvjE7BtotQjkq8PxLeF6P46gEpBRXuskzIVgjFpekzFVF4yjRgrQvTG1MTOJ3yQgvTteKAcO7DSZI92+u/yZw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js" integrity="sha512-iKDtgDyTHjAitUDdLljGhenhPwrbBfqTKWO1mkhSFH3A7blITC9MhYon6SjnMhp4o0rADGw9yAC6EW4t5a4K3g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script th:inline="javascript">
        const chatRoomId = /*[[${chatRoom.id}]]*/ '';
        const token = /*[[${_csrf.token}]]*/ '';
    </script>
    <script th:src="@{/app.js}"></script>
</head>

<div layout:fragment="content" class="min-h-screen flex flex-col items-center gap-12">

    <!-- 이곳에 로직을 구현해주시면 됩니다 -->
    <table class="table">
        <tr>
            <th>id</th>
            <th>name</th>
            <th>owner_username</th>
            <th>createdAt</th>
            <th>updatedAt</th>
            <th>Enter</th>
        </tr>
        <tr>
            <td th:text="${chatRoom.id}"></td>
            <td th:text="${chatRoom.name}"></td>
            <td th:text="${chatRoom.owner.username}"></td>
            <td th:text="${chatRoom.createdAt}"></td>
            <td th:text="${chatRoom.updatedAt}"></td>
        </tr>
    </table>

    <div class="container">
        <h3 class=" text-center">Messaging</h3>
        <div class="messaging">
            <div class="inbox_msg">
                <div class="mesgs">
                    <div class="msg_history">
                        <div class="chat__message-ul"></div>
                    </div>
                </div>
            </div>
            <div class="type_msg">
                <div class="input_msg_write">
                    <form class="chat__write-message" onsubmit="ChatWriteMessage(this); return false;">
                        <input type="text" class="write_msg" placeholder="내용을 입력해주세요." name="content">
                        <input type="submit" value="작성">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="overflow-y" style="max-height: 500px;">
        <div class="chat chat-start">
            <div class="chat__message-ul"></div>
        </div>
        <form class="chat__write-message" onsubmit="ChatWriteMessage(this); return false;">
            <input type="text" class="write_msg" placeholder="내용을 입력해주세요." name="content">
            <input type="submit" value="작성">
        </form>
    </div>

    <div class="mt-5"></div>
    <div class="mt-5"></div>

</div>
</html>