@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html > body {
    font-family: "GmarketSansMedium";
    text-underline-position: under;
}

.profile-img-box {
    width: 10rem;
    height: 10rem;
    border-radius: 30%;
    overflow: hidden;
}

.profile-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tier-img-box {
    width: 50%;
    height: 50%;
    overflow: hidden;
}

.tier-img {
    width: 50%;
    height: 50%;
    object-fit: cover;
}

.truncate-text {
    white-space: nowrap; /* 줄 바꿈 방지 */
    overflow: hidden; /* 넘치는 부분 감춤 */
    text-overflow: ellipsis; /* 넘치는 부분에 ... 표시 */
    max-width: 100px; /* 텍스트 영역의 최대 너비 설정 */
}

#emailConfirmCheck-before {
    color: black;
    font-weight: bold;
    font-size: 10px;
}

#usernameMessage {
    color: black;
    font-weight: bold;
    font-size: 10px;
}

#nicknameMessage {
    color: black;
    font-weight: bold;
    font-size: 10px;
}