<html layout:decorate="~{layout/layout}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head><title>카드 문제</title></head>

<div layout:fragment="content" class="min-h-screen flex flex-col items-center gap-5 bg-base-200 mb-12">

    <div th:replace="~{usr/question/fragment/detail/title :: title(${question})}"></div>
    <div th:replace="~{usr/question/fragment/detail/content :: content(${question})}"></div>

    <div class="mb-12 flex gap-3">
        <span><i class="fa-regular fa-comment"></i></span>
        <span><i class="fa-solid fa-highlighter"></i></span>
    </div>

</div>
</html>