<html layout:decorate="~{layout/layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>게시물 추가</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simplemde@1.11.2/dist/simplemde.min.css">
    <style>
    </style>
</head>
<div layout:fragment="content" class="min-h-screen flex flex-col items-center gap-12">
    <form th:action="@{/post/create}" method="post" class="container" enctype="multipart/form-data">
        <div class="form-input">
            <span class="badge">
                제 목
            </span>
            <input class="input input-bordered" autocomplete="off" placeholder="제목을 입력해주세요." name="title" type="text">
        </div>
        <div class="form-input">
            <span class="badge">
                게시판
            </span>
            <select class="select select-bordered" name="board">
                <option value="free">자유게시판</option>
                <option value="interview">면접정보게시판</option>
                <option value="etc">기타게시판</option>
            </select>
        </div>
        <div class="form-input">
            <span class="badge">
            파일 첨부
            </span>
            <input class="input input-bordered" type="file" name="file">
        </div>
        <div class="form-input">
            <span class="badge">
                내 용
            </span>
            <textarea class="textarea textarea-bordered flex-grow" autocomplete="off" placeholder="내용을 입력해주세요." name="content" id="markdown-editor"></textarea>
        </div>
        <div class="btns">
            <button class="btn btn-primary" type="submit">작성</button>
            <a class="btn btn-secondary" href="/post/list">리스트</a>
        </div>
    </form>
    <!-- SimpleMDE 스크립트 -->
    <script src="https://cdn.jsdelivr.net/npm/simplemde@1.11.2/dist/simplemde.min.js"></script>
    <script>
        // SimpleMDE 초기화
        var simplemde = new SimpleMDE({
            element: document.getElementById("markdown-editor"),
            autofocus: true,
            spellChecker: false
        });
    </script>
</div>
</html>
