<html layout:decorate="~{layout/layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
  <title>게시글 수정</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simplemde@1.11.2/dist/simplemde.min.css">
  <style>
  </style>
</head>
<div layout:fragment="content" class="min-h-screen flex flex-col items-center gap-12">
  <form th:action="@{/post/edit/{id}(id=${post.id})}" method="post" class="container">
    <input type="hidden" name="_method" value="PUT">
    <input type="hidden" name="_csrf" value="${_csrf.token}">
    <div class="form-input">
            <span class="badge">
                제 목
            </span>
      <input class="input input-bordered" autocomplete="off" placeholder="제목을 입력해주세요." name="title" type="text" th:value="${post.title}" required>
    </div>
    <div class="form-input">
            <span class="badge">
                내 용
            </span>
        <textarea class="textarea textarea-bordered flex-grow" autocomplete="off" placeholder="내용을 입력해주세요." name="content" id="markdown-editor" required th:text="${contentHtml}"></textarea>
    </div>
    <div class="btns">
      <button class="btn btn-primary" type="submit">수정</button>
      <a class="btn btn-secondary" th:href="@{|/post/view/${post.id}|}">취소</a>
    </div>
  </form>
  <!-- SimpleMDE 스크립트 -->
  <script src="https://cdn.jsdelivr.net/npm/simplemde@1.11.2/dist/simplemde.min.js"></script>
  <script>
    // SimpleMDE 초기화
    var simplemde = new SimpleMDE({
      element: document.getElementById("markdown-editor"),
      autofocus: true,
      spellChecker: false
    });
  </script>
</div>
</html>
