<html layout:decorate="~{layout/layout}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head><title th:text="|${searchForm.input} 검색 결과|"></title></head>

<div layout:fragment="content" class="min-h-screen flex flex-col items-center mb-12">

  <form th:replace="~{usr/search/fragment/category/search :: search(${searchForm})}"></form>
  <div th:replace="~{usr/search/fragment/book/tab :: tab(${searchForm})}"></div>

  <form th:replace="~{usr/search/fragment/category/content :: content(${categories.contents})}"></form>
  <div th:replace="~{usr/search/fragment/book/page :: page(${categories}, ${searchForm.input})}"></div>

</div>
</html>