<html layout:decorate="~{layout/layout}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head><title th:text="|${searchForm.input} 검색 결과|"></title></head>

<div layout:fragment="content" class="min-h-screen flex flex-col items-center mb-12">

    <form th:replace="~{usr/search/fragment/member/search :: search(${searchForm})}"></form>
    <div th:replace="~{usr/search/fragment/book/tab :: tab(${searchForm})}"></div>

    <table th:replace="~{usr/search/fragment/member/content :: content(${memberList})}"></table>
    <div th:replace="~{usr/search/fragment/member/page :: page(${memberList})}"></div>

</div>
</html>