<table th:fragment="content(categories)"
       class="mt-5 table w-96">

    <thead>
    </thead>

    <tbody>
    <tr class="hover flex justify-between"
        th:each="category : ${categories}"
        th:object="${category}">

        <td>
            <a th:text="*{name}"
               th:href="@{/question/list/{id}(id=*{id})}"></a>
        </td>
        <td class="grow">
            <a class="w-full"
               th:href="@{/question/list/{id}(id=*{id})}"></a>
        </td>
        <td>
            <a th:text="|*{questions.size} 문제|"
               th:href="@{/question/list/{id}(id=*{id})}"></a>
        </td>
    </tr>
    </tbody>

</table>