<html layout:decorate="~{layout/layout}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head><title>전체 회원 관리</title></head>

<div layout:fragment="content" class="min-h-screen flex flex-col items-center gap-12">

    <!-- 이곳에 로직을 구현해주시면 됩니다 -->
    <div class="overflow-x-auto">
        <table class="table">
            <!-- head -->
            <thead>
            <tr>
                <th>
                    <label>
                        <input type="checkbox" class="checkbox" />
                    </label>
                </th>
                <th>Username</th>
                <th>Role</th>
                <th>Create_Date</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <!-- row 1 -->
            <tr th:each="member : ${members}">
                <th>
                    <label>
                        <input type="checkbox" class="checkbox" />
                    </label>
                </th>
                <td>
                    <div class="flex items-center space-x-3">
                        <div class="avatar">
                            <div class="mask mask-squircle w-12 h-12">
                                <div th:if="${member.profileImg != null && !member.hasSocialProfile()}">
                                    <img th:src="@{/images/profile/{filename}(filename=${member.profileImg})}">
                                </div>
                                <div th:if="${member.profileImg != null && member.hasSocialProfile()}">
                                    <img th:src="@{${member.profileImg}}">
                                </div>
                                <div th:if="${member.profileImg == null}">
                                    <img src="/images/profile/no-image.png">
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="font-bold" th:text="${member.username}">Hart Hagerty</div>
                            <div class="text-sm opacity-50" th:text="${member.nickname}">United States</div>
                        </div>
                    </div>
                </td>
                <td th:text="${member.role.toString()}">
                </td>
                <td th:text="${#temporals.format(member.createDate, 'yy-MM-dd')}"></td>
                <th>
                    <button class="btn btn-ghost btn-xs">details</button>
                </th>
            </tr>
            <!-- foot -->
<!--            <tfoot>-->
<!--            <tr>-->
<!--                <th></th>-->
<!--                <th>Name</th>-->
<!--                <th>Job</th>-->
<!--                <th>Favorite Color</th>-->
<!--                <th></th>-->
<!--            </tr>-->
<!--            </tfoot>-->

        </table>
    </div>

</div>
</html>