<table th:fragment="form(createCategoryForm)"
       class="mt-5 table w-full">

    <thead>
    <tr>
        <th></th>
        <th>카테고리</th>
        <th>소개</th>
        <th>문제</th>
    </tr>
    </thead>

    <tbody>
    <tr class="hover"
        th:each="category : ${createCategoryForm}"
        th:object="${category}">

        <th></th>
        <td>
            <a th:text="*{name}"
               th:href="@{/question/list}"></a>
        </td>
        <td>
            <a th:text="*{about}"
               th:href="@{/question/list}"></a>
        </td>
        <td>
            <a th:text="*{name}"
               th:href="@{/question/list}"></a>
        </td>
    </tr>
    </tbody>

</table>