<form th:fragment="search(questionSearchForm)"
      method="get" action="/question/search"
      th:object="${questionSearchForm}"
      onsubmit="JoinForm__submit(this); return false;">

    <div class="form-control">
        <label class="input-group input-group-sm">

            <select class="select select-sm select-bordered"
                    th:field="*{select}">
                <option value="0">모든 문제</option>
                <option th:if="${@rq.login}" value="1" th:checked="*{select eq 1}">밑줄 문제</option>
            </select>

            <input type="text" th:field="*{tag}" placeholder="검색어 입력"
                   class="input input-bordered input-sm"/>


            <button class="btn btn-square btn-sm w-24">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>


        </label>

    </div>
</form>
