<html layout:decorate="~{layout/layout}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head><title>문의 쪽지 보내기</title></head>

<div layout:fragment="content" class="min-h-screen flex flex-col items-center gap-12">

    <!-- 이곳에 로직을 구현해주시면 됩니다 -->
    <div>
        <h2>내가 보낸 쪽지</h2>
        <div th:each="note : ${notes}">
            <p th:text="${note.id}"></p>
            <p th:text="${#temporals.format(note.createDate, 'YY-MM-dd')}"></p>
            <p th:text="${note.content}"></p>
        </div>
    </div>

    <div class="mt-5"></div>
    <div class="mt-5"></div>
</div>
</html>