<html layout:decorate="~{layout/layout}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head><title>문의 쪽지 보내기</title></head>

<div layout:fragment="content" class="min-h-screen flex flex-col items-center gap-12">

    <!-- 이곳에 로직을 구현해주시면 됩니다 -->
    <form th:action method="POST" class="p-10 flex flex-col gap-4">
        <textarea class="textarea textarea-accent textarea-lg w-full max-w-xs" name="content" placeholder="문의 내용을 입력해주세요."></textarea>
        <input type="submit" class="btn" value="보내기">
    </form>

    <div class="mt-5"></div>
    <div class="mt-5"></div>
</div>
</html>