<html layout:decorate="~{layout/layout}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head><title>보낸 쪽지함</title></head>

<div layout:fragment="content" class="min-h-screen flex flex-col items-center gap-12">

    <!-- 이곳에 로직을 구현해주시면 됩니다 -->
    <div class="max-w-2xl w-full px-4">
        <div class="overflow-x-auto">
            <table class="table">
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>등록일</th>
                    <th>보기</th>
                </tr>
                <tr th:if="${!note.deleteSender}" th:each="note : ${notes}">
                    <td th:text="${note.id}"></td>
                    <td class="truncate-text" th:text="${note.title}"></td>
                    <td th:text="${#temporals.format(note.createDate, 'YY-MM-dd')}"></td>
                    <td>
                        <a class="btn btn-primary btn-sm" th:href="@{/note/detail/{noteId}(noteId=${note.id})}">확인</a>
                    </td>
                </tr>
            </table>
        </div>
        <a href="/note/send" class="btn btn-link">새 쪽지 보내기</a>
    </div>

    <div class="mt-5"></div>
    <div class="mt-5"></div>
</div>
</html>