<div th:fragment="content(books)"
     class="flex gap-4 flex-wrap justify-center mt-3">

    <div th:each="book : ${books}"
         th:object="${book}"
         class="w-24 mb-3">

        <figure class="h-32">
            <img class="h-full" src="/images/note/0004.jpg"/>
        </figure>

        <div class="text-xs" th:text="${book.name}"></div>
        <div class="flex justify-between">
            <div class="text-[6px]" th:text="|${book.member.nickname} |"></div>
            <div class="flex gap-1">
                <div class="text-xs"><i class="fa-regular fa-user"></i></div>
                <div class="stat-desc" th:text="${book.playCount}"></div>
                <div class="text-xs"><i class="fa-regular fa-heart"></i></div>
                <div class="stat-desc" th:text="${book.recommend}"></div>
            </div>
        </div>
    </div>

    <div class="carousel-item w-24 h-40 mb-3">

        <div class="stats flex bg-base-200">
            <div class="stat place-items-center">
                <div class="stat-title">더보기</div>
                <div><i class="fa-solid fa-arrow-right-to-bracket"></i></div>
                <div></div>
            </div>
        </div>

    </div>

</div>