<form th:fragment="form(answerCheckForm)"
      th:action method="post"
      th:object="${answerCheckForm}"
      class="flex flex-col gap-4 mt-5 mb-12"
      onsubmit="JoinForm__submit(this); return false;">


    <input type="text" class="input input-bordered w-full max-w-xs"
           th:field="*{word1}"
           placeholder="keyword 1"/>

    <input type="text" class="input input-bordered w-full max-w-xs"
           th:field="*{word2}"
           placeholder="keyword 2"/>

    <input type="text" class="input input-bordered w-full max-w-xs"
           th:field="*{word3}"
           placeholder="keyword3"/>



    <button class="btn btn-primary mb-12">정답 등록</button>
</form>