<div th:fragment="form(createCategoryForm)"
     class="hero mt-5">
    <div class="hero-content flex-col lg:flex-row-reverse">
        <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
            <div class="card-body">

                <form th:action method="post"
                      th:object="${createCategoryForm}"
                      onsubmit="JoinForm__submit(this); return false;">

                    <div class="form-control">
                        <label class="label">
                            <span class="label-text">카테고리 이름</span>
                        </label>
                        <input type="text" th:field="*{name}" placeholder="이름" class="input input-bordered"/>
                    </div>

                    <div class="form-control">
                        <label class="label">
                            <span class="label-text">카테고리 소개</span>
                        </label>
                        <input type="text" th:field="*{about}" placeholder="소개" class="input input-bordered"/>
                    </div>

                    <div class="form-control mt-6">

                        <button class="btn btn-primary">만들기</button>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>