<div th:fragment="check(createFunctionForm, mcq)"
     th:object="${createFunctionForm}"
     class="card w-80 bg-base-100 shadow-xl mt-5">

    <div class="card-body">
        <h2 class="card-title" th:text="|총 *{count} 문제|"></h2>

        <div class="flex flex-col gap-3 mt-5">
            <div>문제 타입</div>
            <div class="flex gap-3">
                <span th:each="type : *{type}"
                      class="badge" th:text="(${type} == ${mcq})?'객관식':'주관식'"></span>
            </div>
        </div>


        <div class="card-actions justify-center mt-5">
            <a class="btn btn-primary w-40"
               th:href="@{/question/play}">Play!</a>
        </div>
    </div>

</div>