<form th:fragment="form(createQuestionForm, categories, categoryId, mcq)"
      th:action method="post"
      th:object="${createQuestionForm}"
      class="flex flex-col gap-4 mt-5 mb-12"
      onsubmit="JoinForm__submit(this); return false;">


    <div class="flex justify-between">
        <select th:field="*{categoryId}"
                class="select select-ghost select-sm w-42 max-w-xs">

            <option value="" disabled>스터디 선택</option>
            <option th:each="categorie : ${categories}"
                    th:value="${categorie.id}"
                    th:selected="${categorie.id eq createQuestionForm.categoryId}"
                    th:text="${categorie.name}">
            </option>
        </select>

        <a th:href="@{/question/select/{id}(id=${categoryId})}" th:text="((*{type} == ${mcq})?'객관식':'주관식')?: '문제 타입'">
        </a>
        <input type="text" class="hidden" th:field="*{type}">
    </div>

    <input type="text" class="input input-bordered w-full max-w-xs"
           th:field="*{name}"
           placeholder="제목"/>

    <textarea class="textarea textarea-bordered h-40"
              th:field="*{content}"
              placeholder="문제"></textarea>

    <div class="mt-5 flex flex-col gap-4"
         th:if="${createQuestionForm.type eq mcq}">

        <label class="label">
            <span class="label-text">선택지</span>
        </label>
        <input type="text" th:field="*{choiceList}" placeholder="1번"
               class="input input-bordered input-sm w-full max-w-xs"/>
        <input type="text" th:field="*{choiceList}" placeholder="2번"
               class="input input-bordered input-sm w-full max-w-xs"/>
        <input type="text" th:field="*{choiceList}" placeholder="3번"
               class="input input-bordered input-sm w-full max-w-xs"/>
    </div>

    <label class="label mt-5">
        <span class="label-text">태그</span>
    </label>

    <textarea class="textarea textarea-bordered"
              th:field="*{tag}"
              placeholder=", 로 구분"></textarea>

    <button class="btn btn-primary mb-12">만들기</button>
</form>