<div th:fragment="nav(question, page, size)"
     class="flex flex-col justify-end pt-5 border-t-[1px] mt-3">


    <div class="flex justify-center gap-5">

        <a th:if="${page > 0}"
           th:href="@{|?page=${page - 1}|}">
            <i class="fa-solid fa-chevron-left"></i></a>


        <span th:replace="~{usr/question/fragment/play/underline :: underline(${question}, ${page}, ${size})}"></span>


        <button>
            <i class="fa-solid fa-chevron-right"></i>
        </button>


        <a th:if="${page eq size}"
           th:href="@{/question/submit}">
            <i class="fa-regular fa-square-check"></i>
        </a>

    </div>

</div>