<div th:fragment="nav(question, page, size)"
     class="flex flex-col justify-end pt-5 border-t-[1px] mt-3">


    <div class="flex justify-center gap-5">

        <a th:if="${page > 0}"
           th:href="@{|?page=${page - 1}|}">
            <i class="fa-solid fa-chevron-left"></i></a>


        <label for="my-modal-6"><i class="fa-solid fa-highlighter"></i></label>


        <button>
            <i th:if="${page ne size}"
               class="fa-solid fa-chevron-right"></i>
            <i th:if="${page eq size}"
               class="fa-solid fa-flag-checkered"></i>
        </button>

    </div>

</div>