<div th:fragment="stack(question, mcq, page, size)"
     class="min-h-full mt-5 mb-12">

    <div class="stack">

        <div class="text-center border border-base-content card w-36 min-h-full bg-base-100">

            <div th:replace="~{usr/question/fragment/play/card :: card(${question}, ${mcq})}"></div>
            <div th:replace="~{usr/question/fragment/play/nav :: nav(${question}, ${page}, ${size})}"></div>
        </div>

        <div class="text-center border border-base-content card w-36 min-h-full bg-base-100"></div>
        <div class="text-center border border-base-content card w-36 min-h-full bg-base-100"></div>

    </div>
</div>