<div th:fragment="title(book)"
     class="stats drop-shadow-lg w-80 mt-5 mb-3">

    <div class="stat place-items-center flex-row">

        <div class="flex flex-wrap gap-5">

            <figure class="h-40 drop-shadow-lg">
                <img th:if="${book.img eq null}"
                     class="h-full" src="/images/note/0004.jpg"/>

                <img th:if="${book.img ne null}"
                     class="h-full" th:src="@{${book.img}}"/>
            </figure>

            <div class="flex flex-col justify-between">

                <div class="stat-title" th:text="${book.name}"></div>


                <div class="flex gap-3 mt-2">
                    <div class="text-sm"><i class="fa-regular fa-pen-to-square"></i></div>
                    <div class="text-[4px]" th:text="${book.author}"></div>
                </div>

                <div class="flex gap-3">
                    <div class="text-sm"><i class="fa-regular fa-user"></i></div>
                    <div class="text-[4px]" th:text="|총 ${book.playCount}번 도전|"></div>
                </div>

                <div class="flex gap-3">
                    <div class="text-sm"><i class="fa-solid fa-check"></i></div>
                    <div class="text-[4px]" th:utext="|정답률 ${book.rate}%|"></div>
                </div>

                <div class="flex gap-3">
                    <div class="text-sm"><i class="fa-regular fa-file-lines"></i></div>
                    <div class="text-[4px]" th:text="|총 ${book.underlines.size} 문제|"></div>
                </div>

            </div>

            <div class="mb-3">
                <p class="py-6 ml-3 mr-3 text-xs"
                   th:text="${book.about}"></p>

                <a href="/question/play"
                   class="btn btn-primary w-full btn-sm">문제 시작</a>

            </div>
        </div>
    </div>

</div>
