<html layout:decorate="~{layout/layout}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>회원가입</title>
</head>

<div layout:fragment="content" class="min-h-screen flex flex-col items-center gap-12">

    <!-- 이곳에 로직을 구현해주시면 됩니다 -->
    <script>
        emailConfirmCheck = false;

        function JoinForm__submit(form) {
            var usernameCheck = document.getElementById("usernameHiddenInput").value;
            var passwordCheck = document.getElementById("passwordHiddenInput").value;
            var repasswordCheck = document.getElementById("repasswordHiddenInput").value;
            // emailCheck = document.getElementById("emailHiddenInput").value;
            var nicknameCheck = document.getElementById("nicknameHiddenInput").value;
            console.log(usernameCheck);
            console.log(passwordCheck);
            console.log(repasswordCheck);
            console.log(nicknameCheck);

            // username 이(가) 올바른지 체크
            if (usernameCheck === 'no') {
                toastWarning('아이디를 다시 확인해주세요.');
                form.username.focus();
                return;
            }

            // password 이(가) 올바른지 체크
            if (passwordCheck === 'no') {
                form.password.focus();
                toastWarning('비밀번호를 다시 확인해주세요');
                return;
            }

            // repassword 이(가) 올바른지 체크
            if (repasswordCheck === 'no') {
                form.password.focus();
                toastWarning('비밀번호 확인을 다시 확인해주세요');
                return;
            }

            // 인증번호 이(가) 올바른지 체크
            if (!emailConfirmCheck) {
                toastWarning('인증번호를 다시 확인해주세요.');
                form.code.focus();
                return;
            }

            // 닉네임 이(가) 올바른지 체크
            if (nicknameCheck === 'no') {
                toastWarning('닉네임을 다시 확인해주세요.');
                form.nickname.focus();
                return;
            }

            form.submit(); // 폼 발송
        }
    </script>
    <script>
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");
        $(function() {
            var $email = $("#email");
            var $checkEmail = $("#checkEmail"); // 인증번호 발송 버튼
            var $emailConfirm = $("#emailConfirm"); // 인증번호 확인input
            var $emailConfirmTxt = $("#emailConfirmTxt"); // 인증번호 확인 txt

            // 이메일 인증번호
            $checkEmail.click(function () {
                $.ajax({
                    type: "POST",
                    url: "/mailConfirm",
                    data: {
                        "email": $email.val()
                    },
                    beforeSend: function(xhr) {
                        xhr.setRequestHeader(header, token); // CSRF 토큰을 헤더에 추가
                    },
                    success: function (data) {
                        toastNotice('해당 이메일로 인증번호 발송이 완료되었습니다.<br>확인부탁드립니다.');
                        console.log("data : " + data);
                        $("#emailConfirm").prop("disabled", false);
                        checkEmailConfirm(data, $emailConfirm, $emailConfirmTxt);
                    },
                    error: function() {
                        toastWarning('인증번호 발송에 실패했습니다.<br>다시 시도해주세요.');
                        console.log("Error: 유효하지 않은 이메일입니다.");
                    }
                })
            })

            // 이메일 인증번호 체크 함수
            function checkEmailConfirm(data, $emailConfirm, $emailConfirmTxt) {
                $emailConfirm.on("keyup", function () {
                    if (data != $emailConfirm.val()) { //
                        emailConfirmCheck = false;
                        $emailConfirmTxt.html("<span id='emailConfirmCheck'>인증번호가 잘못되었습니다</span>")
                        $("#emailConfirmCheck").css({
                            "color": "#FA3E3E",
                            "font-weight": "bold",
                            "font-size": "10px"

                        })
                        //console.log("중복아이디");
                    } else { // 아니면 중복아님
                        emailConfirmCheck = true;
                        $emailConfirmTxt.html("<span id='emailConfirmCheck'>인증번호 확인 완료</span>")

                        $("#emailConfirmCheck").css({
                            "color": "#0D6EFD",
                            "font-weight": "bold",
                            "font-size": "10px"

                        })
                    }
                })
            }
        });
    </script>
    <script>
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");

        function checkDuplicate(field) {
            var inputId = field + 'Input';
            var value = document.getElementById(inputId).value;

            return $.ajax({
                url: "/member/checkDuplicate/" + field,
                type: "POST",
                dataType: "text",
                data: JSON.stringify({ "value": value }),
                beforeSend: function(xhr) {
                    xhr.setRequestHeader(header, token); // CSRF 토큰을 헤더에 추가
                },
                contentType: "application/json"
            });
        }

        function checkLength(field) {
            var inputId = field + 'Input';
            var value = document.getElementById(inputId).value;

            return $.ajax({
                url: "/member/checkLength/" + field,
                type: "POST",
                dataType: "text",
                data: JSON.stringify({ "value": value }),
                beforeSend: function(xhr) {
                    xhr.setRequestHeader(header, token); // CSRF 토큰을 헤더에 추가
                },
                contentType: "application/json"
            });
        }

        function changeTextAndColor(field) {
            var messageLabel = document.getElementById(field + 'Message');
            var hiddenInput = document.getElementById(field + "HiddenInput");

            $.when(checkDuplicate(field), checkLength(field)).done(function(duplicateResult, lengthResult) {
                var duplicateResponse = duplicateResult[0];
                var lengthResponse = lengthResult[0];

                console.log('응답성공(중복체크) = ' + duplicateResponse);
                console.log('응답성공(길이체크) = ' + lengthResponse);

                var checkDuplicateOk = duplicateResponse === '사용 가능한 ' + field + '입니다.';
                var checkLengthOk = lengthResponse === '사용 가능한 ' + field + '입니다.';

                if (checkDuplicateOk && checkLengthOk) {
                    messageLabel.innerHTML = '사용 가능합니다.';
                    messageLabel.style.color = '#0D6EFD';
                    hiddenInput.value = 'ok';
                } else {
                    messageLabel.innerHTML = '사용 불가능합니다.';
                    messageLabel.style.color = '#FA3E3E';
                    hiddenInput.value = 'no';
                }
            }).fail(function(error) {
                console.error(error);
            });
        }

        function checkRepassword() {
            var password = document.getElementById('passwordInput').value;
            var repassword = document.getElementById('repasswordInput').value;
            var messageLabel = document.getElementById('repasswordMessage');
            var hiddenInput = document.getElementById('repasswordHiddenInput');

            if(password === repassword) {
                messageLabel.innerHTML = '비밀번호가 일치합니다.';
                messageLabel.style.color = '#0D6EFD';
                hiddenInput.value = 'ok';
            } else {
                messageLabel.innerHTML = '비밀번호가 일치하지 않습니다.';
                messageLabel.style.color = '#FA3E3E';
                hiddenInput.value = 'no';
            }
        }
    </script>

    <div class="flex flex-col justify-center items-center">

        <div class="stats stats-vertical shadow max-w-2xl">

            <div class="stat">
                <div class="stat-title text-xl">
                    <i class="fa-solid fa-user-plus mr-2"></i>회원가입
                </div>
            </div>
        </div>
        <form th:action method="POST" class="p-10 flex flex-col gap-4" onsubmit="JoinForm__submit(this); return false;">
            <!-- 아이디 -->
            <div class="mb-3">
                <div class="form-control w-full max-w-xs">
                    <label class="label">
                        <span class="label-text">영어 대소문자, 숫자만 4 ~ 12자리</span>
                    </label>
                    <input type="text" name="username" id="usernameInput" placeholder="아이디를 입력해주세요." class="input input-bordered w-full max-w-xs"
                           onblur="changeTextAndColor('username');" onkeyup="changeTextAndColor('username')">
                    <input type="hidden" id="usernameHiddenInput" value=""/>
                </div>
                <label for="usernameInput" id="usernameMessage"></label>
            </div>
            <!-- 비밀번호 -->
            <div class="mb-3">
                <div class="form-control w-full max-w-xs">
                    <label class="label">
                        <span class="label-text">영문, 숫자, 특수기호 모두 포함하는 8 ~ 15자리</span>
                    </label>
                    <input type="password" name="password" id="passwordInput" placeholder="비밀번호를 입력해주세요." class="input input-bordered w-full max-w-xs"
                           onblur="changeTextAndColor('password');" onkeyup="changeTextAndColor('password')">
                    <input type="hidden" id="passwordHiddenInput" value=""/>
                </div>
                <label for="passwordInput" id="passwordMessage"></label>
            </div>
            <!-- 비밀번호 확인 -->
            <div class="mb-3">
                <div class="form-control w-full max-w-xs">
                    <input type="password" name="repassword" id="repasswordInput" placeholder="비밀번호를 다시 입력해주세요." class="input input-bordered w-full max-w-xs"
                           onblur="checkRepassword();" onkeyup="changeTextAndColor('repassword')">
                    <input type="hidden" id="repasswordHiddenInput" value=""/>
                </div>
                <label for="repasswordInput" id="repasswordMessage">비밀번호를 다시 입력해주세요.</label>
            </div>
            <!-- 이메일 -->
            <div class="form-control w-full max-w-xs">
                <input type="text" class="input input-bordered w-full max-w-xs" name="email" id="email" placeholder="이메일을 입력해주세요.">
                <button class="btn btn-accent btn-xs" type="button" id="checkEmail">인증하기</button>
            </div>
            <!-- 인증번호 -->
            <div class="form-control w-full max-w-xs">
                <label class="label">
                    <span class="label-text">8자리 인증코드</span>
                </label>
                <input type="text" class="input input-bordered w-full max-w-xs" name="code" id="emailConfirm" placeholder="인증코드는 8자리 입니다." disabled>
                <label for="emailConfirm" id="emailConfirmTxt">
                    <span id="emailConfirmCheck-before">인증코드를 입력해주세요.</span>
                </label>
            </div>
            <!-- 닉네임 -->
            <div class="mb-3">
                <div class="form-control w-full max-w-xs">
                    <label class="label">
                        <span class="label-text">영문, 숫자, 한글만 2 ~ 8자리</span>
                    </label>
                    <input type="text" name="nickname" id="nicknameInput" placeholder="닉네임를 입력해주세요." class="input input-bordered w-full max-w-xs"
                           onblur="changeTextAndColor('nickname');" onkeyup="changeTextAndColor('nickname')">
                    <input type="hidden" id="nicknameHiddenInput" value=""/>
                </div>
                <label for="nicknameInput" id="nicknameMessage"></label>
            </div>
            <div class="mb-1">
                <input type="submit" value="가입완료" class="btn btn-block btn-primary">
            </div>
        </form>
    </div>

    <div class="mt-5"></div>
    <div class="mt-5"></div>
    <div class="mt-5"></div>

</div>
</html>