<html layout:decorate="~{layout/layout}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head><title>마이페이지</title></head>

<div layout:fragment="content" class="min-h-screen flex flex-col items-center gap-12">

    <!-- 이곳에 로직을 구현해주시면 됩니다 -->
    <div class="flex flex-col">
        <a href="/member/underline/question">밑줄 친 문제 목록</a>
        <a href="#">답을 업로드한 문제 목록</a>
        <a href="#">답글에 밑줄 친 문제 목록</a>
        <a href="#">내가 만든 문제 목록</a>
        <a href="#">밑줄 친 문제만 랜덤으로 풀기</a>
        <a href="#">오답노트 확인</a>
        <a href="#">통계</a>
    </div>

</div>
</html>